
img#fake-image,
.jcrop-holder,
.jcrop-holder img,
.jcrop-tracker {
  width: 100% !important; height: 100% !important;
  max-width: 100% !important; max-height: 100% !important;
  min-width: 100% !important; min-height: 100% !important;
}

img#fake-image {
  position: fixed; top: 0; left: 0; z-index: 1;
}

.jcrop-holder {
  position: fixed !important; top: 0 !important; left: 0 !important;
  z-index: 2147483647 !important;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid rgb(67, 78, 233);
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.text-extraction:after {
  content: 'Detecting Text';
  box-sizing: border-box;
  position: absolute;
  top: 55%;
  left: calc(50% - 125px);
  width: 250px;
  /* border: solid 2px black; */
  background-color: rgba(0, 0, 0, 0.521);
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
}